---
import Layout from '../components/Layout.astro';
const title = "Jeppzone";
const description = "This is the landing page for Jesper 'Jeppzone' Olsson Laine"
---

<Layout title={title} description={description}>
	<main>
    <div id="content">
      <div class="header">
        <h1>Jeppzone</h1>
        <h2>
          Hi! I'm Jesper Olsson Laine. I'm a software developer and health enthusiast. Feel free to checkout my health & lifestyle blog or some of my other projects 
        </h2>
        <div class="bttns">
          <a href="https://blog.jeppzone.com" class="bttn primary">Health & Lifestyle Blog</a>
          <a href="https://nflpickem.jeppzone.com" class="bttn primary">NFL Pick'em Game</a>
        </div>
      </div>
			<div class="resource-list">
        <ul>
          <li>
            <a href="https://github.com/jeppzone">Github</a>
					</li>
          <li>
            <a href="https://www.linkedin.com/in/jesper-olsson-laine-86076a97/">LinkedIn</a>
          </li>
        </ul>
      </div>
      <footer class="footer">
        <i><b>© Jeppzone</b></i>
      </footer>
    </div>
	</main>
</Layout>